CompileFlags:
  Add:
    - --target=arm-none-eabi
    - -D__MSPM0G3507__
    - -I D:/msp_project/temp2/MSPM0G3507_Project_temp/MSPM0G3507_M0_Base/source/third_party/CMSIS/Core/Include
    - -I D:/msp_project/temp2/MSPM0G3507_Project_temp/MSPM0G3507_M0_Base/source
    - -I D:/msp_project/temp2/MSPM0G3507_Project_temp/MSPM0G3507_M0_Base/MSPM0G3507_FreeRTOS
    - -I D:/msp_project/temp2/MSPM0G3507_Project_temp/MSPM0G3507_M0_Base/MSPM0G3507_FreeRTOS/Application
    - -I D:/msp_project/temp2/MSPM0G3507_Project_temp/MSPM0G3507_M0_Base/MSPM0G3507_FreeRTOS/Application/Task
    - -I D:/msp_project/temp2/MSPM0G3507_Project_temp/MSPM0G3507_M0_Base/MSPM0G3507_FreeRTOS/Config
    - -I D:/msp_project/temp2/MSPM0G3507_Project_temp/MSPM0G3507_M0_Base/MSPM0G3507_FreeRTOS/BSP/Display
    - -I D:/msp_project/temp2/MSPM0G3507_Project_temp/MSPM0G3507_M0_Base/MSPM0G3507_FreeRTOS/BSP/Peripherals
    - -I D:/msp_project/temp2/MSPM0G3507_Project_temp/MSPM0G3507_M0_Base/MSPM0G3507_FreeRTOS/BSP/HAL
    - -I D:/msp_project/temp2/MSPM0G3507_Project_temp/MSPM0G3507_M0_Base/MSPM0G3507_FreeRTOS/BSP/Common
    - -I D:/msp_project/temp2/MSPM0G3507_Project_temp/MSPM0G3507_M0_Base/MSPM0G3507_FreeRTOS/BSP/Communication
    - -I D:/msp_project/temp2/MSPM0G3507_Project_temp/MSPM0G3507_M0_Base/MSPM0G3507_FreeRTOS/Lib/OSAL
    - -I D:/msp_project/temp2/MSPM0G3507_Project_temp/MSPM0G3507_M0_Base/MSPM0G3507_FreeRTOS/Lib/Key
    - -I D:/msp_project/temp2/MSPM0G3507_Project_temp/MSPM0G3507_M0_Base/MSPM0G3507_FreeRTOS/Lib/FreeRTOS/include
    - -I D:/msp_project/temp2/MSPM0G3507_Project_temp/MSPM0G3507_M0_Base/MSPM0G3507_FreeRTOS/Lib/FreeRTOS/portable/MemMang
    - -I D:/msp_project/temp2/MSPM0G3507_Project_temp/MSPM0G3507_M0_Base/MSPM0G3507_FreeRTOS/Lib/FreeRTOS/portable/GCC/ARM_CM0
    - -I D:/msp_project/temp2/MSPM0G3507_Project_temp/MSPM0G3507_M0_Base/MSPM0G3507_FreeRTOS/Lib/FreeRTOS/src
    - -I D:/msp_project/temp2/MSPM0G3507_Project_temp/MSPM0G3507_M0_Base/MSPM0G3507_FreeRTOS/Protocol
  Compiler: clang
