CompileFlags:
  Add:
    - --target=arm-none-eabi
    - -D__MSPM0G3507__
    - -DLOG_LEVEL=LOG_LEVEL_INFO
    - -I../source
    - -I.
    - -IApplication
    - -IApplication/Tests
    - -IApplication/Tasks
    - -IApplication/Algorithm
    - -IApplication/Filter
    - -IBSP
    - -IBSP/Common
    - -IBSP/Platform
    - -IBSP/HAL
    - -IBSP/Peripherals
    - -IBSP/Motor
    - -IBSP/IMU
    - -IBSP/IMU/Ports/mspm0g3507
    - -ILib/OSAL
    - -IConfig
    - -ILib/AxiomTrace
    - -ILib/Math
    - -ILib/FreeRTOS/include
    - -ILib/FreeRTOS/portable/MemMang
    - -ILib/FreeRTOS/portable/GCC/ARM_CM0
    - -ILib/FreeRTOS/src
  Compiler: clang